<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Manager Profile</title>
</head>
<body>

    <h3>Agents</h3>
    <hr>
    <table border="1">

        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>salary</th>
                <th>stationname</th>
                <th>start</th>
                <th>end</th>
                <th>stateid</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="agent : ${agents}" >
                <td th:text="${agent.id}"/>
                <td th:text="${agent.username}"/>
                <td th:text="${agent.password}"/>
                <td th:text="${agent.firstName}"/>
                <td th:text="${agent.lastName}"/>
                <td th:text="${agent.salary}"/>
                <td th:text="${agent.stationName}"/>
                <td th:text="${agent.start}"/>
                <td th:text="${agent.end}"/>
                <td th:text="${agent.stateId}"/>
                <td>
                    <a th:href="@{/updateAgent(id=${agent.id})}">Update</a>
                </td>
                <td>
                    <a th:href="@{/deleteAgent(id=${agent.id})}">Delete</a>
                </td>
            </tr>
        </tbody>

    </table>

    <a th:href="@{/insertAgent}">Sign up an Agent</a>

    <a th:href="@{/newRoute}">Create a new Route</a>


    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" />

    </form>

</body>
</html>