<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

    <h3>My Tickets</h3>
    <hr>
    <table border="1">

        <thead>
            <tr>
                <th>PassengerID</th>
                <th>Price</th>
                <th>Start</th>
                <th>End</th>
                <th>Seat</th>
                <th>TrainId</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="ticket : ${tickets}" >
                <td th:text="${ticket.passengerId}"/>
                <td th:text="${ticket.price}"/>
                <td th:text="${ticket.start}"/>
                <td th:text="${ticket.end}"/>
                <td th:text="${ticket.seat}"/>
                <td th:text="${ticket.trainId}"/>
            </tr>
        </tbody>

    </table>

    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" />

    </form>

</body>
</html>